In [5]:
import sklearn as sk
import pandas as pd
import numpy as np

In [6]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [7]:
df=pd.read_csv('Used_Bikes.csv')

In [8]:
encoder=LabelEncoder()

In [9]:
output=encoder.fit_transform(df['brand'])

In [10]:
output

array([19, 17, 20, ...,  1,  5,  1])

In [11]:
df['brand']=output

In [12]:
output.shape

(32648,)

In [13]:
df.dtypes

bike_name     object
price          int64
city          object
kms_driven     int64
owner         object
age            int64
power          int64
brand          int32
dtype: object

In [14]:
x=df.drop('price',axis=1)
y=df[['price']]

In [15]:
x

,bike_name,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,17654,First Owner,3,110,19
1,Royal Enfield Classic 350cc,Delhi,11000,First Owner,4,350,17
2,Triumph Daytona 675R,Delhi,110,First Owner,8,675,20
3,TVS Apache RTR 180cc,Bangalore,16329,First Owner,4,180,19
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,10000,First Owner,3,150,21
...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,Delhi,22000,First Owner,4,100,5
32644,TVS Apache RTR 180cc,Karnal,6639,First Owner,9,180,19
32645,Bajaj Avenger Street 220,Delhi,20373,First Owner,6,220,1
32646,Hero Super Splendor 125cc,Jaipur,84186,First Owner,16,125,5
32647,Bajaj Pulsar 150cc,Pune,60857,First Owner,13,150,1

In [16]:
y

        price
0       35000
1      119900
2      600000
3       65000
4       80000
...       ...
32643   39000
32644   30000
32645   60000
32646   15600
32647   22000

[32648 rows x 1 columns]

In [17]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,19
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,17
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,20
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,19
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,21
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000,Delhi,22000,First Owner,4,100,5
32644,TVS Apache RTR 180cc,30000,Karnal,6639,First Owner,9,180,19
32645,Bajaj Avenger Street 220,60000,Delhi,20373,First Owner,6,220,1
32646,Hero Super Splendor 125cc,15600,Jaipur,84186,First Owner,16,125,5
32647,Bajaj Pulsar 150cc,22000,Pune,60857,First Owner,13,150,1

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [20]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((26118, 7), (6530, 7), (26118, 1), (6530, 1))

In [21]:
x_train.head()
x_train.shape

(26118, 7)

In [22]:
y_train.head()
y_train.shape

(26118, 1)

In [23]:
#from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

In [24]:
#lr =LinearRegression()
gb=GradientBoostingRegressor()

In [25]:
x_train.isnull()

       bike_name   city  kms_driven  owner    age  power  brand
17390      False  False       False  False  False  False  False
19014      False  False       False  False  False  False  False
16949      False  False       False  False  False  False  False
25968      False  False       False  False  False  False  False
380        False  False       False  False  False  False  False
...          ...    ...         ...    ...    ...    ...    ...
29802      False  False       False  False  False  False  False
5390       False  False       False  False  False  False  False
860        False  False       False  False  False  False  False
15795      False  False       False  False  False  False  False
23654      False  False       False  False  False  False  False

[26118 rows x 7 columns]

In [26]:
#lr.fit(x_train,y_train)
gb.fit(x_train,y_train)

ValueError: could not convert string to float: 'Bajaj Avenger Street 220'